@model MovieUpdateViewModel

<div class="row">
    <div class="col-4">
        <form id="updated-info" asp-area="Administration" asp-controller="Movie" asp-action="Update" method="post">
            <div class="md-form" style="margin-bottom:40px;">
                <p>Movie Name</p>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <p>Movie Description</p>
                <textarea asp-for="Description" class="form-control" rows="5">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
                <p>Movie ReleaseYear</p>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
                <p>Movie Name</p>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <button class="btn btn-outline-dark-green waves-effect my-sm-0" type="submit">Update</button>
            <a asp-area="Administration" asp-controller="Database" asp-action="Index" class="btn btn-outline-primary waves-effect">Go Back</a>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
    <div class="col-md-4">
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success" style="margin-left: auto; margin-top: auto; margin-bottom: auto;">
                <strong>Success! </strong> @ViewBag.Success
            </div>
        }
        else if (ViewBag.Message != null)
        {
            <div class="alert alert-danger" style="margin-left: auto; margin-top: auto; margin-bottom: auto;">
                <strong>Error! </strong> @ViewBag.Message
            </div>
        }
    </div>
    <div class="col-md-4">
        <div style="float: right;">
            <form asp-area="Administration" asp-controller="Movie" asp-action="Avatar" method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-update="#form-partial">
                <input type="hidden" asp-for="ImageString" value="@ViewBag.MovieOldImage" />
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <input type="hidden" asp-for="Name" value="@Model.Name" />
                <input type="hidden" asp-for="Description" value="@Model.Description" />
                <input type="hidden" asp-for="ReleaseYear" value="@Model.ReleaseYear" />
                <input type="hidden" asp-for="Duration" value="@Model.Duration" />
                <button type="submit" class="btn btn-danger">Reset</button>
            </form>
        </div>
        @if (Model.ImageString != null)
        {
            <img src="@Model.ImageString" class="manage-avatar-image img-thumbnail" alt="Default avatar" />
        }
        else
        {
            <img src="~/images/defaultMovie.jpg" class="manage-avatar-image img-thumbnail" alt="Default avatar" />
        }
        <div style="float: left;">
            <form asp-area="Administration" asp-controller="Movie" asp-action="Avatar" method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-update="#form-partial">
                <label class="avatar-upload-label">
                    Choose new image..
                    <input type="file" asp-for="@Model.Image" />
                </label>
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <input type="hidden" asp-for="Name" value="@Model.Name" />
                <input type="hidden" asp-for="Description" value="@Model.Description" />
                <input type="hidden" asp-for="ReleaseYear" value="@Model.ReleaseYear" />
                <input type="hidden" asp-for="Duration" value="@Model.Duration" />
                @*<button type="button" class="btn btn-danger" onclick="this.form.reset();">Clear</button>
                    Same effect using javascript (for info)*@
                <div style="flex: auto; justify-content: space-between">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-dark" value="Reset">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function onCompleteFunction() {
            var form = $("#updated-info");
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse(form);
        }
    </script>
}
