@model ProjectionListViewModel
@{
    ViewData["Title"] = "_HeaderPartial";
}

<div style="display: flex; align-items: center;">
    <h2 style="padding: 20px 0px">Movie Catalog</h2>
    @if (!User.Identity.IsAuthenticated)
    {
        <h5 class="text-danger" style="margin-left: auto; margin-top: auto; margin-bottom: auto;">You should be registered to book a ticket</h5>
    }
    else
    {
        if (User.Identity.IsAuthenticated && ((string)(TempData["Success-Message"] ?? "")).Any())
        {
            <div class="alert alert-success" style="margin-left: auto; margin-top: auto; margin-bottom: auto;">
                <strong>Success!</strong> @TempData["Success-Message"]
            </div>
        }
        if (User.Identity.IsAuthenticated && ((string)(TempData["Warning-Message"] ?? "")).Any())
        {
            <div class="alert alert-primary" style="margin-left: auto; margin-top: auto; margin-bottom: auto;">
                <strong>Warning!</strong> @TempData["Warning-Message"]
            </div>
        }
    }
</div>
<div class="row header peach-gradient" style="font-size: 20px; font-weight: bold">
    <div class="col-md-2">Image</div>
    <div class="col-md-2">
        <form asp-controller="BuyTicket" asp-action="UpdateMovie" method="post" data-ajax="true" data-ajax-update="#ProjectionList">
            <input type="hidden" asp-for="Day" value="@Model.Day" />
            <input type="hidden" asp-for="CityId" value="@Model.CityId" />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <input type="hidden" asp-for="SortOrder" value="@Model.TitleSort" />
            <input type="submit" value="Title" class="makealink" data-ajax="true" data-ajax-update="#ProjectionList">
        </form>
    </div>
    <div class="col-md-2">Genres</div>
    <div class="col-md-2">Duration</div>
    <div class="col-md-2">
        <form asp-controller="BuyTicket" asp-action="UpdateMovie" method="post" data-ajax="true" data-ajax-update="#ProjectionList">
            <input type="hidden" asp-for="Day" value="@Model.Day" />
            <input type="hidden" asp-for="CityId" value="@Model.CityId" />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <input type="hidden" asp-for="SortOrder" value="@Model.HourSort" />
            <input type="submit" value="Starting" class="makealink">
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

