@model ProjectionListViewModel
@{
    ViewData["Title"] = "_NavigationPartial";
}

<nav aria-label="Page navigation example">
    <ul class="pagination pg-blue">
        @for (int p = 1; p <= Model.MaxPages; p++)
        {
            <li class="page-item @(p == Model.CurrentPage ? "active" : "") ">
                <form asp-controller="BuyTicket" asp-action="UpdateMovie" method="post" data-ajax="true" data-ajax-update="#ProjectionList">
                    <input type="hidden" asp-for="CurrentPage" value="@p" />
                    <input type="hidden" asp-for="Day" value="@Model.Day" />
                    <input type="hidden" asp-for="Image" value="@Model.Image" />
                    <input type="hidden" asp-for="CityId" value="@Model.CityId" />
                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    <input type="hidden" asp-for="SortOrder" value="@Model.SortOrder" />
                    <button type="submit" class="page-link">@p</button>
                </form>
            </li>
        }
    </ul>
</nav>

