@model ProjectionListViewModel
@{
    ViewData["Title"] = "Projections";
}

<div class="jumbotron" style="padding: 32px;">

    <partial name="_HeaderPartial" model="Model" />

    @if (Model.Projections.Count() == 0)
    {
        <div class="col-md-12" style="text-align: center; padding: 40px;">
            <h4>Currently they aren't any scheduled projections</h4>
        </div>
    }
    else
    {
        @foreach (var movie in Model.Projections)
        {
            <div class="row" style="display:flex; align-items:center;">
                <div class="col-md-2 ">
                    <div class="zoom">
                        <a asp-controller="Movie" asp-action="Details" asp-route-movieName="@movie.MovieName">
                            @if (movie.Image != ViewBag.DefaultImage)
                            {
                                <img src="@movie.Image" class="imageCell" alt="Default avatar" />
                            }
                            else
                            {
                                <img src="~/images/defaultMovie.jpg" class="imageCell" alt="Default avatar" />
                            }
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <a asp-controller="Movie" asp-action="Details" asp-route-movieName="@movie.MovieName">
                            @movie.MovieName
                        </a>
                    </div>
                </div>
                <div class="col-md-2">@string.Join(", ", movie.Genres)</div>
                <div class="col-md-2">@movie.MovieDuration</div>
                <div class="col-md-2">@movie.MovieStart</div>
                <div class="col-md-2">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-controller="BuyTicket" asp-action="@(movie.IsBooked ? "Decline" : "Book")" method="post">
                            <input type="hidden" asp-for="CityId" value="@Model.CityId" />
                            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                            <input type="hidden" asp-for="ProjectionId" value="@movie.ProjectionId" />
                            <button type="submit" style="width: 100%;" class="btn btn-lg @(movie.IsBooked ? "btn-danger" : "btn-success")">@(movie.IsBooked ? "Decline" : "Book")</button>
                        </form>
                    }
                    else if (!User.Identity.IsAuthenticated && (movie.Seats > 0))
                    {
                        <button type="submit" style="width: 100%;" class="btn btn-lg btn-warning disabled">@movie.Seats Left</button>
                    }
                    else if (!User.Identity.IsAuthenticated && (movie.Seats == 0))
                    {
                        <button type="submit" style="width: 100%;" class="btn btn-lg btn-danger disabled">NoSeats</button>
                    }
                </div>
            </div>
        }
    }

    <partial name="_NavigationPartial" model="Model" />

</div>
