@model CityListViewModel
@{
    ViewData["Title"] = "Projections";
}

<div class="card">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/cinema1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/cinema2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/cinema3.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group" style="padding: 30px">
                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary waves-effect dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Choose Town
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    @foreach (var city in Model.Cities)
                    {
                        <a class="dropdown-item" asp-controller="BuyTicket" asp-action="Movie" asp-route-cityId="@city.Id">@city.Name</a>
                    }
                </div>
            </div>
        </div>

        <p1 style="text-shadow:1px 1px black; font-display:swap; font-size: 30px; padding: 10px 40px">Our week Specials</p1>

    </div>

    <!-- Grid row -->
    <div class="row" style="justify-content: flex-end">
        @foreach (var movie in Model.ListOfMovies.Projections)
        {
            <!-- Grid column -->
            <div class="col-lg-3 view-overlay my-zoom">
                <!--Card Narrower-->
                <div class="card card-cascade narrower" style="border:outset; background-color:aliceblue">
                    <a asp-controller="Movie" asp-action="Details" asp-route-movieName="@movie.MovieName">
                        <!--Card image-->
                        <div id="front-card" class="view view-cascade overlay">
                            <div class="view">
                                @if (movie.Image != ViewBag.DefaultImage)
                                {
                                    <img style="cursor:pointer" src="@movie.Image" class="card-img-top" alt="narrower">
                                }
                                else
                                {
                                    <img style="cursor:pointer" src="~/images/defaultMovie.jpg" class="card-img-top" alt="Default avatar" />
                                }
                            </div>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-body card-body-cascade">
                            <h5 class="pink-text"><i class="fa fa-cutlery"></i>@string.Join(" ", movie.Genres.Take(2))</h5>
                            <!--Title-->
                            <h4 class="card-title">@movie.MovieName</h4>
                            <!--Text-->
                            <p class="card-text">
                                @movie.MovieDescription.Substring(0, Math.Min(movie.MovieDescription.Length, 200))...
                            </p>
                        </div>
                        <!--/.Card content-->
                    </a>
                </div>
                <!--/.Card Narrower-->
            </div>
            <!-- Grid column -->
        }
    </div>
    <!-- Grid row -->
</div>