@model ProjectionListViewModel
@using System.Globalization;
@using System;
@{
    ViewData["Title"] = "Movie";
}

<div id="projections-table">
    <div clas="row">
        @*This element will be updated with the content returned from the database, thats why the partial view is inside him*@
        <div class="container">
            <h2>Projection Days For @ViewBag.CityName</h2>
            <div class="col-md-12">
                <div class="btn-group">
                    @for (int i = 0; i <= 6; i++)
                    {
                        var dayOfWeek = DateTime.Now.AddDays(i).DayOfWeek;
                        <form asp-controller="BuyTicket" asp-action="UpdateMovie" method="post" data-ajax="true" data-ajax-update="#ProjectionList" data-ajax-loading="#spinner">
                            <input type="hidden" asp-for="@Model.Day" value="@dayOfWeek" />
                            <input type="hidden" asp-for="@Model.CityId" value="@Model.CityId" />
                            <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId" />
                            <input type="hidden" asp-for="@Model.SortOrder" value="@Model.SortOrder" />
                            @*Тези свойства се bind-ват със обекта който чака в action-а динамично
                                Зада имаме валидация за тях, трябва да използваме property-тата от модела
                                Затова за да не губим type-safety-то по-добре да си изпращам същия модел към action-а*@
                            @if (i != 0)
                            {
                                <button type="submit" class="btn btn-primary">
                                    @CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedDayName(dayOfWeek)
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Now</button>
                            }
                        </form>
                    }
                    <div id="spinner" style="display:none; ">
                        <img style="width: 40px;" src="~/images/spinner.gif" />
                    </div>
                </div>
            </div>
            <div id="ProjectionList">
                <partial name="_ProjectionsPartial" model="Model" />@*The Main view is calling the partial view Projections*@
            </div>
        </div>
    </div>
</div>