@model CityUpdateListViewModel

<div class="blockquote">
    <div>
        <font color="#343a40" size="4">@Model.Name</font>
    </div>
</div>


<form id="da-form" asp-area="Administration" asp-controller="City" asp-action="Update" method="post">

    <div class="form-row">
        <!-- Grid column -->

        <div class="col-4">
            <!-- Material input -->

            <div class="md-form">
                <label asp-for="@Model.Name" class="control-label">New Name</label>
                <input asp-for="@Model.Name" value="" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>

                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />

            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

        </div>
    </div>
    <!-- Grid row -->
    <button class="btn btn-light my-sm-0" type="submit">Update</button>
</form>

<script>
    var form = $("#da-form");
    form.removeData('validator');
    form.removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse(form);
</script>
<br />