@model CityUpdateViewModel

<form asp-area="Administration" asp-controller="City" asp-action="Update" method="post">
    <div class="form-row">
        <!-- Grid column -->
        <div class="col-4">
            <!-- Material input -->

            <div class="md-form">
                @*<label asp-for="@Model.Name" class="control-label"></label>*@
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
    </div>
    <!-- Grid row -->
    <button class="btn btn-light my-sm-0" type="submit">Update</button>
</form>
<br />