@model UsersListViewModel
@{
    ViewData["Title"] = "Manage Roles";
}
<!--
    Card -->
@await Html.PartialAsync("_ResultPartial")
<div class="card">
    <!-- Card content -->
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.UserViewModels)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@(user.FirstName + " " + user.LastName)</td>
                        <td>@user.Age</td>
                        <td>
                            @if (user.IsAdmin)
                            {
                                <form asp-area="Administration" asp-controller="ManageRole" asp-action="RemoveAdmin" asp-route-userId="@user.Id" method="post">
                                    <button class="btn btn-danger my-sm-0" type="submit">Remove Admin</button>
                                </form>
                            }
                            else
                            {
                                <form asp-area="Administration" asp-controller="ManageRole" asp-action="SetAdmin" asp-route-userId="@user.Id" method="post">
                                    <button class="btn btn-danger my-sm-0" type="submit">Set Admin</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
